<html>
  
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <h1 id="greeting">Dear , you are logged in</h1>
  <button id="logoutButton">Log Out</button>

  <p><a id="profileLink" href="#">Profile Page</a></p>
  <p><a id="friendLink" href="#">Friend Page</a></p>
  <p><a id="usergroupLink" href="#">Group Page</a></p>
  <p><a id="exerciseLink" href="#">Exercise Page</a></p>
  <p><a id="recordLink" href="#">Record Page</a></p>
  <p><a href="worldchannel">worldchannel</a></p>


</body>

<script>
  $(document).ready(function() {
    var username = localStorage.getItem('username');
    if (username) {
        // Update the greeting with the username
        $('#greeting').text('Dear ' + username + ', you are logged in');
        var encodedUsername = encodeURIComponent(username);
        $('#profileLink').attr('href', '/profile/' + encodedUsername);
        $('#friendLink').attr('href', '/friend/' + encodedUsername);
        $('#usergroupLink').attr('href', '/usergroup/' + encodedUsername);
        $('#exerciseLink').attr('href', '/exercise/' + encodedUsername);
        $('#recordLink').attr('href', '/records/' + encodedUsername);
    }else{
      window.location.href = '/login';
    }
    $('#logoutButton').on('click', function() {
          // Clear the local storage
          localStorage.removeItem('username');
          window.location.href = '/login';
      });
  });

</script>

</html>
