<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<body>
    <h1>Already have an account? Please login</h1>

    <form id="loginForm">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
        <input type="submit" value="Login">
    </form>

    <p id="errorMessage"></p>

    <h1>Do not have an account? Register a new account</h1>
    <a href="register">register</a>


    <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(e) {
                e.preventDefault(); // Prevent the default form submission

                var formData = {
                    username: $('input[name="username"]').val(),
                    email: $('input[name="email"]').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/login',
                    contentType: 'application/json', // Specify the content type as JSON
                    data: JSON.stringify(formData), // Convert the form data to JSON
                    dataType: 'json',
                    success: function(data) {
                        if (data.success) {
                            // If login is successful, redirect to the home page
                            window.location.href = "/";
                            localStorage.setItem("username",data.username)
                        } else {
                            // If not successful, display an error message
                            $('#errorMessage').text(data.message);
                        }
                    },
                    error: function(xhr) {
                        // Handle error
                        $('#errorMessage').text('An error occurred: ' + xhr.responseText);
                    }
                });
            });
        });

    </script>
</body>
