<head>
    <title>Records for {{ username }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p><a href="/">Home</a></p>
    <h1>Records for {{ username }}</h1>

    <h2>Workout Records</h2>
    <ul>
        {% for record,comments in records.workout_records %}
            <li>{{ record.exercisename }}: {{ record.sets }} sets of {{ record.repitition }} reps at {{ record.weightlifted }} kg</li>
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.commentuser }}:</strong>
                        <p>{{ comment.content }}</p>
                        <p>Commented on: {{ comment.time.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('comment') }}" method="post">
                
                <input type="hidden" name="recordUser" value="{{ username }}">
                <input type="hidden" name="recordId" value="{{ record.recordid }}">
                <input type="hidden" name="commentUser" class="commentUser">
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" required>
                <button type="submit">Comment</button>
            </form>
        {% endfor %}
    </ul>

    <h2>Nutrition Records</h2>
    <ul>
        {% for record,comments in records.nutrition_records %}
            <li>{{ record.description }}: {{ record.calorie }} calories, {{ record.protein }}g protein</li>
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.commentuser }}:</strong>
                        <p>{{ comment.content }}</p>
                        <p>Commented on: {{ comment.time.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('comment') }}" method="post">
                
                <input type="hidden" name="recordUser" value="{{ username }}">
                <input type="hidden" name="recordId" value="{{ record.recordid }}">
                <input type="hidden" name="commentUser" class="commentUser">
                <label for="content">Content:</label>
                <input type="text" id="content" name="content" required>
                <button type="submit">Comment</button>
            </form>
        {% endfor %}
    </ul>

    <h2>Health Records</h2>
    <ul>
        {% for record,comments in records.health_records %}
            <li>Weight: {{ record.weight }} kg, Body Fat: {{ record.bodyfatpercentage }}%, Blood Pressure: {{ record.bloodpressure }}, Resting Heart Rate: {{ record.restingheartrate }} bpm</li>
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.commentuser }}:</strong>
                        <p>{{ comment.content }}</p>
                        <p>Commented on: {{ comment.time.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </li>
                {% endfor %}
                <form action="{{ url_for('comment') }}" method="post">
                
                    <input type="hidden" name="recordUser" value="{{ username }}">
                    <input type="hidden" name="recordId" value="{{ record.recordid }}">
                    <input type="hidden" name="commentUser" class="commentUser">
                    <label for="content">Content:</label>
                    <input type="text" id="content" name="content" required>
                    <button type="submit">Comment</button>
                </form>
            </ul>
        
        {% endfor %}  

    </ul>

    <h2>Goal Records</h2>
    <ul>
        {% for record,comments in records.goal_records %}
            <li>{{ record.goaltype }}: Target {{ record.targetvalue }} by {{ record.deadline.strftime('%Y-%m-%d') }}</li>
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.commentuser }}:</strong>
                        <p>{{ comment.content }}</p>
                        <p>Commented on: {{ comment.time.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </li>
                {% endfor %}
                <form action="{{ url_for('comment') }}" method="post">
                
                    <input type="hidden" name="recordUser" value="{{ username }}">
                    <input type="hidden" name="recordId" value="{{ record.recordid }}">
                    <input type="hidden" name="commentUser" class="commentUser">
                    <label for="content">Content:</label>
                    <input type="text" id="content" name="content" required>
                    <button type="submit">Comment</button>
                </form>
            </ul>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('add_workout_record', username = username) }}" style="display: none;" class="addrecord">Add Workout Record</a><br>
    <a href="{{ url_for('add_health_record', username = username) }}" style="display: none;" class="addrecord">Add Health Record</a><br>
    <a href="{{ url_for('add_goal_record', username = username) }}" style="display: none;" class="addrecord">Add Goal Record</a><br>
    <a href="{{ url_for('add_nutrition_record', username = username) }}" style="display: none;" class="addrecord">Add Nutrition Record</a><br>
    
    
    <script>
        $(document).ready(function() {
          var username = localStorage.getItem('username');
          $('.commentUser').val(username)
          if(username=="{{username}}"){
            $('.addRecord').show()
          }
        });
    </script>
</body>
