
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p><a href="/">Home</a></p>
    <h1>Groups</h1>
    <ul>
        {% for group in user_groups %}
            <li>{{ group.groupname }} (ID: {{ group.groupid }}) - 
                <a href="{{ url_for('group', groupid=group.groupid) }}">View Group</a>
            </li>
        {% else %}
            <li>No groups found.</li>
        {% endfor %}
    </ul>
    <div>
        <h2>Add a New Group</h2>
        <form action="{{ url_for('add_group') }}" method="post">
            <input type="hidden" name="currentUser" value="{{ username }}">
            <label for="newGroupId">GroupID:</label>
            <input type="text" id="newGroupId" name="newGroupId" required>
            
            <button type="submit">Add Group</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h1>Create a New Group</h1>
    <form action="{{ url_for('create_group') }}" method="post">
        <input type="hidden" name="currentUser2" value="{{ username }}">
        <label for="groupname">Group Name:</label>
        <input type="text" id="groupname" name="groupname" required>
        <button type="submit">Create Group</button>
    </form>

    
</body>

